@import url(variaveis.css);

body {
	line-height: 1.5;
}

h1,h2,h3 {
	padding-left: 10px;
	text-align: center;
}

p {
	padding: 0 10px;
	text-align: justify;
}

.font-nav {
	font-family: var(--font-nav);
}

.banner {
	padding-top: 3.5rem;
	width: 100%;
}

.titulo-central {
	color: var(--cinza);
	font-family: var(--font-titulo);
	font-size: 35px;
}

.subtitulo-central {
	color: var(--azul-claro);
	font-family: var(--font-sub-central);
	font-size: 20px;
}

.subtitulo-central:before {
	content: "“";
}

.subtitulo-central:after {
	content: "“";
}

.titulo {
	color: var(--roxo);
	font-family: var(--font-titulo);
}

.subtitulo {
	color: var(--ciano-dark);
	font-family: var(--font-sub);
}

p {
	font-family: var(--font-texto);
}

.titulo-rodape {
	color: var(--roxo);
	font-family: var(--font-titulo);
}

.star:before {
	content: "✧"
}

.star:after {
	content: "✧";
}

.topico {
	color: var(--cinza);
	font-family: var(--font-sub-central);
	font-size: 20px;
	padding: 5px 0;
}

.descricao {
	height: auto;
	padding: 10px;
}

.banner-rodape {
	padding-top: 10px;
	width: 100%;
}

.nav-color {
	background-color: #d3d3d3ef;
}

.offcanvas {
	background-color: #f7f4f4;
	max-width: 70%;
}

.invisivel {
	position: absolute;
	left: -999em;
}

.blur {
	opacity: 0;
	transition: 1s;
}

.no-blur {
	opacity: 1;
	transition: 5s;
}

@media screen and (min-width: 768px) {
	.banner,.banner-rodape {
		height: 100%;
		width: 100%;
	}

	.titulo-central {
		font-size: 50px;
	}

	.subtitulo-central {
		font-size: 25px;
	}
}

@media screen and (min-width: 1024px) {
	.titulo-central,.subtitulo-central,.titulo,.subtitulo {
		text-align: left;
	}

	p {
		padding-left: 10px;
	}
}