.loja__imagem {
	width: 100%;
	padding: 10px 0;
	cursor: pointer;
}

.inventario__imagem {
	width: 100%;
	padding: 10px 0;
}

.colecao__imagem {
	width: 100%;
	padding: 10px 0;
}

.melhorar__imagem {
	width: 100%;
	padding: 10px 0;
}

.convocacao__imagem {
	width: 100%;
	padding: 10px 0;
}

.btn {
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
}

.botao {
	background-color: var(--cor-bg-btn);
	border-color: var(--cor-bg-btn);
	border-radius: 8px;
	color: var(--white);
	padding: 12px 35px;
	text-align: center;
	transition: .6s;
}

.botao:hover {
	background-color: var(--cor-hover-btn);
	border-color: var(--cor-hover-btn);
	color: var(--white);
	font-style: italic;
	transform: scale(1.2);
}


@media screen and (min-width: 1024px) {
	.loja__imagem {
		width: 68%;
		padding: 10px 5px 20px 5px;
	}

	.loja-crescente {
		display: flex;
	}

	.loja-equip {
		display: flex;
	}

	.loja-mr {
		display: flex;
	}

	.loja-km {
		display: flex;
	}

	.loja-medalha {
		display: flex;
	}

	.loja-espelho {
		display: flex;
	}

	.loja-tampa {
		display: flex;
	}

	.hideando {
		display: flex;
		flex-direction: column;
	}

	.inventario__imagem {
		padding: 10px 10px;
	}

	.colecao__imagem {
		padding: 10px 10px;
	}

	.melhorar__imagem {
		width: 70%;
		padding: 10px 5px 20px 5px;
	}

	.up_guns {
		display: flex;
	}

	.up_limit {
		display: flex;
	}

	.up_opt {
		display: flex;
	}

	.up_evol {
		display: flex;
	}

	.convocacao__imagem {
		width: 73%;
		padding: 10px 2px 20px 2px;
	}

	.convoc {
		display: flex;
	}
}